langchain
ipykernel
python-dotenv
langchain-openai
langchain_community
pypdf
beautifulsoup4
requests
arxiv
pymupdf
pyowm
langchain-text-splitters
langchain-openai
sentence-transformers
langchain-huggingface
faiss-cpu
chromadb
langchain-chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
ddgs
validators
youtube_transcript_api
unstructured
pytube
ffmpeg-python
openai-whisper
numexpr
huggingface_hub
transformers